$main-color: #3751ff;
$danger: red;
$warning: yellow;
$success: #fbfbfd;
// Shell
$shell-color: #363740;
$shell-item-color-active: rgba(221, 226, 255, 0.1);
$shell-item-text-color: #a4a6b3;
$shell-item-text-color-active: #dde2ff;

// Body
$body-color: #f7f8fc;
