@import "../../theme/color.scss";

.sidebar-container {
  width: 280px;
  height: 100vh;
  border-right: 0.1px solid rgba(0, 0, 0, 0.05);
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  background-color: $shell-color;

  overflow-y: auto;

  .sidebar-header {
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    color: $shell-item-text-color-active;
    .hamburger-container {
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .sidebar-body {
    margin-top: 10px;
    .sidebar-item {
      height: 45px;

      // display
      display: flex;
      flex-direction: row;
      align-items: center;

      // color
      color: $shell-item-text-color;

      .sidebar-item-inner-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      .sidebar-item-icon {
        margin-left: 15px;
        font-size: 16px;
      }

      .sidebar-item-name {
        font-size: 14px;
        margin-left: 15px;
      }
      // mouse
      cursor: pointer;

      &:hover {
        background-color: $shell-item-color-active;
        color: $shell-item-text-color-active;
      }
    }

    .sidebar-item-active {
      @extend .sidebar-item;
      background-color: $shell-item-color-active;
      color: $shell-item-text-color-active;
    }

    .sidebar-item-item {
      .sidebar-item {
        padding-left: 20px;
      }
    }

    .children {
      justify-content: space-between;
    }
  }
}

.sidebar-container-close {
  @extend .sidebar-container;
  width: 80px !important;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;

  .sidebar-header {
    justify-content: center;
  }

  .sidebar-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .sidebar-item {
      margin: 0px;
      height: 30px;
      width: 30px;
      margin-bottom: 7.5px;
      padding: 7.5px;
      border-radius: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .sidebar-item-inner-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      .sidebar-item-icon {
        font-size: 16px;
        margin: 0;
      }
      .sidebar-item-name {
        display: none;
        margin: 0;
      }
    }

    .sidebar-item-inner-container {
      display: "flex";
      flex-direction: "row";
      justify-content: center;
      align-items: center;
    }

    .sidebar-caret {
      display: none;
      margin: 0;
    }
    .sidebar-item-item {
      .sidebar-item {
        padding-left: 7.5px;
      }
    }

    .children {
      justify-content: center;
    }
  }

  .logo {
    display: none;
  }
}
