.layout-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.content-container {
  width: 100%;
  height: 100vh;
  background-color: rgba(67, 167, 155, 0.075);

  .content-container-body {
    padding: 15px;
  }
}
