@import "../theme/color.scss";

.layout-container {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row;
}

.content-container {
  width: 100%;
  height: auto;
  background-color: $body-color;

  .content-container-body {
    padding: 15px;
  }
}
